html,
body,
#app,
.tac,
.places {
	height: 100%;
}

.map-block {
	height: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

.gmap-map-block {
	width: 100%;
	height: inherit;

	.gmap-map {
		width: 100%;
		height: inherit;
	}
}

.places {
	width: 100%;

	.operations-button {
		width: 165px;
	}
}

.sidebar-menu-vertical {
	height: 100%;

	.nav-icon {
		padding-right: 5px;
	}
}
