@media only screen and (max-width: 600px) {
	html,
	body,
	#app,
	.tac,
	.tac > div {
		height: unset;
	}

	.tac {
		flex-direction: column;
	}

	.sidebar-menu-vertical {
		height: unset;
		width: 100%;
	}
}
